<h1>Privacy Policy</h1>

<h2>1. Introduction</h2>
<p>1.1 We are committed to protecting the privacy of “Food Hero”’s users. This document explains which data is collected and what it is used for.</p>
<p>1.2 No personal information is collected. This means no names, addresses, phone numbers, email address or any other information that could reveal a user's identity is collected.</p>
<p>1.3 Anonymous data is collected. This information is either vital to how “Food Hero” works or helps “JENNIUS LTD” to improve future versions of “Food Hero”.</p>

<h2>2. Collected information</h2>
<p>2.1 Location: The user’s current location is retrieved if she or he gives consent.</p>
<p>2.2 Speech: The user’s voice is recorded if she or he gives consent.</p>
<p>2.3 Text: All text entered by the user is recorded.</p>
<p>2.4 Usage: Information about how the users interacts with “Food Hero” is collected if the user gives consent.</p>
<p>2.5 Anonymous ID: An artificial, anonymous ID (identifier) is associated with every user. It is impossible to deduce the user’s identity from this artificial ID.</p>

<h2>3. Using collected information</h2>
<p>3.1 Location (2.1): The location is used for searching nearby locations. The location is sent to a third party service. No information that can identify a user is submitted to the third party service.</p>
<p>3.2 Speech (2.2) and text (2.3): Speech and text is recorded and processed in order that “Food Hero” can react upon. Speech and text are sent together with the anonymous ID to a third party service. No information that can identify a user is submitted to the third party service.</p>
<p>3.2.1 Speech and text are processed by a computer algorithm and stored for later evaluation.</p>
<p>3.2.2 Speech and text may be used by “JENNIUS LTD” to train and improve the computer algorithm mentioned under 3.2.1.</p>
<p>3.2.3 Speech, text and the anonymous ID may be used by “JENNIUS LTD” to analyse user behaviour in order to improve future versions of “Food Hero”.</p>
<p>3.3 Usage (2.4):  Usage data is analysed in order that “JENNIUS LTD” can improve future versions of “Food Hero”. Usage data includes error reports and information on how “Food Hero” performs and is used. Usage data and the anonymous ID are sent to a third party service. No information that can identify a user is sent to the third party service.</p>


<h2>4. Amendments</h2>
<p>4.1 "JENNIUS LTD" may update this policy from time to time by publishing a new version.</p>
<p>4.2 Users should check this policy occasionally to ensure they are happy with any changes to this policy.</p>

<h2>5. Third party services</h2>
<p>5.1 Location (2.1): The data, as explained under 3.1, is sent to the "Google Places API Web Service". See <a href="http://www.google.com/policies/privacy/">here</a> to learn more about Google’s privacy policy.</p>
<p>5.2 Speech (2.2) and text (2.3): The data, as explained under 3.2, is sent to “Wit.ai". See <a href="https://wit.ai/privacy">here</a> to learn more about Wit’s privacy policy.</p>
<p>5.3 Usage (2.4): The data, as explained under 3.3, is sent to "Google Analytics". See <a href="http://www.google.com/policies/privacy/">here</a> to learn more about Google’s privacy policy.</p>
